header{
  height: 200px;
  background-image: url(https://www.publicdomainpictures.net/pictures/80000/velka/kitty-cat-1395206763uwr.jpg);
  background-color: #5F9EA0;
  margin-bottom: 20px
}

article{
  font-size: 3vw;
  margin: auto;
  width: auto;
  height: auto;
  border: 5px solid lightgrey;
}

body{
  margin: 0px;
  background-color: #fff4f2;
}

h1{
  margin: 75px;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color: Green
}

footer {
  background-color: lightgrey
}

p{
  margin: 2px;
}

.date{
  font-size: 15px;
  color: darkgrey;
}

.title{
  font-size: 48px;
  color: darkred;

}

.logo{
  color: red;
  float: right;
  position: fixed;
  top: 0;
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #f2f2f2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  color: #333;
  text-align: center;
  padding: 2vw 10vh;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #333;
  color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
  border: 1px black;
}

/* .navformat{
  display: inline;
  float: right;
  flex: 1;
} */

.container{
  display: grid;
  width: 100%;
  grid-template-areas:
  "main1"
  "main2"
  "main3"
  "main4";
  margin: auto;
  grid-gap: 10px;
  justify-content: center;

}

.box{
  width: auto;
  height: auto;
  border: 5px solid lightgrey;
}

.summary{
  font-style: italic;
}

.pic{
  max-width: 100%;
  height: auto;
}

.readmore{
  font-size: 5vw;
}

#item1{
  color: grey;
  font-size: 1.8vw;
  grid-area: main1;
  text-align: center;
  width: 50%;
  margin: auto;

}

#item2{
  grid-area: main2;
}

#item3{
  grid-area: main3;
}

#item4{
  color: grey;
  font-size: 1.8vw;
  grid-area: main1;
  text-align: center;
  width: 50%;
  margin: auto;
}

#copyright{
  font-size: 10px;
}

#footer{
  text-align: right;
  width: auto;
  height: auto;
  padding: 40px
}
